html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

ol {
  list-style: none;
}

a {
  color: #8f2440;
  font-size: 1.125rem;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
}

h1, h2 {
  color: #3f1622;
}

figcaption, p, blockquote, li, dt, dd, small {
  color: #222;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: .8rem;
}

img {
  width: 100%;
}

p {
  font-size: 1rem;
}

.boldanddaring {
  font-weight: bold;
  font-size: 1.125rem;
}

b {
  font-weight: normal;
}

em > b {
  font-weight: bold;
}

blockquote {
  text-align: left;
  font-size: 1.5rem;
  font-style: italic;
}

strong {
  font-weight: normal;
}

cite {
  font-size: .8rem;
}

footer {
  font-size: 0.8rem;
}

ol li {
  list-style-type: lower-greek;
}

dt {
  font-style: italic;
}
ul li {
  list-style-type: circle;
  font-size: .8rem;
}

dd {
  font-weight: bold;
}

dd > data {
  font-weight: normal;
}

nav, h1, h2, dd {
  font-family: "PT Sans", sans-serif;
}

data {
  font-family: "PT Serif", serif;
}
